.gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery img {
  margin: 1rem 0 1rem 0;
  width: 300px;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {

.gallery img {
  max-width: 100%;
 }
  
 
}

@media (min-width: 1530px) {}

@media (min-width: 1920px) {}