.shadowed-container {
  margin: auto;
  /* padding: 2rem; */
  border-radius: 1rem;
  color: #fff;
  max-height: 80vh;
  max-width: 90vw;
  overflow-y: scroll;
}

.home {
  color: #b8860b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  /* margin: 4rem auto;  */
  max-height: 90vh;
  max-width: 80vw;
  overflow-y: scroll;
}
.homePhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.homePhoto img {
  margin: 2rem;
  max-width: 80%;
  width: 400px;
}



.pageTitle {
  margin: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
}


@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  .home {
  margin: auto; 
}

.homePhoto{
  flex-direction: row;
}
.pageTitle {
  margin: 2rem;
}

.homePhoto img {
  max-width: 100%;
}}

@media (min-width: 1200px) {
}

@media (min-width: 1530px) {  
}

@media (min-width: 1920px) {}