
.sidebar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 80vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;

  padding: 0 1rem;
}

.sidebar li {
  font-size: 2.5rem;
}

.sidebar a {
  color: #aa8736;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1530px) {}

@media (min-width: 1920px) {}

@media (orientation: landscape) and (max-width: 992px) {
  .sidebar {
    height: 50vh;
  }
}
