.navbar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 1s;
}

.list a.active {
  text-decoration: underline;
}

