.navbar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 1s;
}

.navbar img {
  width: 350px;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;
}

.navbar a {
  /* color: #e9e9e9; */
  color: #b8860b;

  padding: 0.45rem;
  margin: 0 2rem;
}

.list a.active {
  text-decoration: underline;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    background: none;
  }

  .navbar img {
    transform: translateY(5%);
    width: 400px;
  }
  .navbar ul {
    flex-direction: row;
    align-items: center;
    min-height: 10vh;
  }

  .navbar a:hover {
    color: #8d721e;
  }

  .navbar a:active {
    text-decoration: underline;
  }
}

@media (min-width: 1530px) {
}

@media (min-width: 1920px) {
  .navbar {
    justify-content: center;
  }
}
