@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  background-color: #f5ead6;
  background-image: url('./components/layout/background.jpg');
  background-repeat: no-repeat;
  background-position: 25% 50%;
  /* background-position: center; */
  background-size: cover;
}

body {
  font-family: 'Montserrat', sans-serif;

  font-size: 1rem;
  line-height: 1.6;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.logo {
  width: 400px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: -2;
}

h3 {
  display: inline;
  font-size: 1.25rem;
  font-weight: 400;
}

/* Utilities */
.container {
  max-width: 1920px;
  text-align: center;
  width: 80vw;
  margin: 15vh auto;
  overflow: hidden;
  padding: 0 0 2rem 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
h1 {
  margin-bottom: 2rem;
}

.loyal {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  text-align: center;
  text-indent: 2rem;
}

.price {
  font-weight: 700;
}

/* Navbar */
nav.showNav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 1s;
}

.navbar img {
  width: 350px;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;
}

.navbar a {
  color: #e9e9e9;

  padding: 0.45rem;
  margin: 0 2rem;
}

a.booktime {
  /* display: none; */
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 200;
  padding: 0.6rem;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  transition: 0.2s ease;

  position: fixed;
  top: 15px;
  right: 20px;
}

a.booktime:hover {
  color: #fff;
  background-color: #000;
}

/* Hamburger */

.hamburger {
  color: #fff;
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px 12px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
  z-index: 10;
}

/* Sidebar */

.sidebar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 80vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;

  padding: 0 1rem;
}

.sidebar li {
  font-size: 2.5rem;
}

.sidebar a {
  color: #fff;
}

.text-container {
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 80vh;
  overflow-y: scroll;
}

/* Gallery */

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery .picture {
  width: 300px;
}

/* About */

.photo-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.certificate {
  width: 500px;
}

.certificate.big {
  width: 600px;
}

.card {
  margin: 2rem;
  width: 300px;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  margin-bottom: 7px;
  margin-top: 7px;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  a.booktime {
    top: 100px;
  }

  .container {
    margin: 3vh auto;
    padding: 0 1rem 2rem 1rem;
  }

  .text-container {
    font-size: 1.25rem;
  }

  .card {
    width: 500px;
  }

  .logo {
    display: none;
    width: 1000px;
    top: 50%;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    background: none;
  }

  .navbar img {
    /* position: absolute;
    left: 0; */
    transform: translateY(5%);
    width: 400px;
  }
  .navbar ul {
    flex-direction: row;
    align-items: center;
    min-height: 10vh;
  }

  .large {
    font-size: 2.5rem;
  }

  .booktime {
    transform: translateY(35%);
  }

  .navbar a:hover {
    color: #fff;
  }
}

@media (min-width: 1540px) {
  a.booktime {
    top: 15px;
  }
}

@media (min-width: 1920px) {
  .container {
    margin: 5vh auto;
  }

  .large {
    font-size: 2.5rem;
  }
  .navbar {
    justify-content: center;
  }
}
@media (orientation: landscape) and (max-width: 992px) {
  .container {
    width: 70vw;
  }

  .sidebar {
    height: 50vh;
  }
}
