@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  background-color: #f5ead6;
  background-image: url('./components/layout/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;

  /* width: 100vw; */
  /* height: 100vh; */

  /* transition: 2s ease-in; */
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.logo {
  width: 400px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  z-index: -2;
}

/* Utilities */
.container {
  max-width: 1920px;
  text-align: center;
  width: 80vw;
  /* height: 100vh; */
  margin: 15vh auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Navbar */
nav.showNav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1.5rem;
  width: 60%;
  margin: 0 0 1rem 0;
  font-family: 'Dancing Script', cursive;
  color: #333;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 1s;
}

/* .navbar.show {
  top: 0;
} */

.navbar img {
  width: 350px;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar a {
  font-weight: 700;
  color: #333;

  padding: 0.45rem;
  margin: 0 2rem;
}

.navbar a:hover {
  color: #000;
}

/* .navbar a:active {
  transform: scale(0.88);
} */

/* Static-bar */

/* .static-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.7rem 1.5rem;

  position: absolute;
  top: 0;
  left: 0;
 
}

.static-bar img {
  width: 150px;
} */

a.booktime {
  font-family: 'Dancing Script', cursive;
  padding: 0.45rem;
  cursor: pointer;
  color: #fff;
  background-color: #222;
  border-radius: 1rem;
  transition: 0.2s ease;

  position: fixed;
  top: 15px;
  right: 20px;
}

a.booktime:hover {
  color: #fff;
  background-color: #000;
}

/* Hamburger */

.hamburger {
  color: black;
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 12px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
  z-index: 10;
}

/* Sidebar */

.sidebar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 80vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;

  padding: 0 1rem;
  /* margin: 1rem 0; */
}

.sidebar li {
  font-size: 2.5rem;
}

.sidebar a {
  color: #333;
}

.text-container {
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 80vh;
  overflow-y: scroll;
}

/* Gallery */

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery .picture {
  width: 300px;
  /* display: flex; */
  /* flex-direction: row; */
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  margin-bottom: 7px;
  margin-top: 7px;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@media (min-width: 576px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1430px) {
}
@media (min-width: 1920px) {
}
