.offer {
  text-align: center;
}

.price {
  font-weight: 700;
}

.loyal {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.card {
  margin: 2rem;
  width: 300px;
}


@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .card {
    width: 500px;
  }

}

@media (min-width: 1530px) {}

@media (min-width: 1920px) {}